[user]
	name = Espen Hellerud
	email = espen.hellerud@bekk.no
[alias]
	co = checkout
[apply]
	whitespace = nowarn
[core]
	excludesfile = /Users/espenhellerud/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
